---


---
<div class="h-screen flex flex-col justify-center px-6 w-2/3 mx-auto">    
    <h1 class="text-3xl md:text-3xl font-extrabold text-primary justify-left my-8">
        We advice your Real Estate Purchase in Colombia <br />
      <span class="text-terciary underline decoration-terciary">from start to finish</span>
    </h1>


    <p class="my-12 text-lg md:text-4xl ">
      <strong class="block text-primary text-left">Have a bilingual expert Law Firm assist you</strong>
      <span class="block text-terciary text-left md:text-3xl">Fast, Affordable, Bilingual</span>
    </p>
    <div class="my-8">
        <p class="text-primary md:text-2xl">
        Book a 45 min initial consultation for only <strong class="text-primary">$175,000 COP</strong>
      </p>
      <a
        href="#"
        class="mt-4 inline-block bg-terciary text-white text-lg font-semibold px-8 py-3 rounded-lg hover:bg-primary transition"
      >
        Book now
      </a>
    </div>
</div>