---

---

<div class="font-bold mt-16 text-3xl">Viaje de servicio</div>
<div class="font-bold mt-4">Consulta inicial / Definición de estrategia y plan de trabajo</div>
<div class="font-xs">Nuestros servicios comienzan con una consulta detallada. Nuestro objetivo es comprender cada aspecto de su situación - vida profesional, familia, planes de viaje, presupuesto - para elaborar una estrategia personalizada que garantice que cumpla con todos los requisitos para la aprobación de la visa.</div>

<div class="font-bold mt-4">
    Revisión de documentos e información
</div>
<div class="font-xs">
    Nuestros servicios comienzan con una consulta detallada. Nuestro objetivo es comprender cada aspecto de su situación - vida profesional, familia, planes de viaje, presupuesto - para elaborar una estrategia personalizada que garantice que cumpla con todos los requisitos para la aprobación de la visa.
</div>
<div class="font-bold mt-4">
    Envío de la visa y seguimiento
</div>
<div class="font-xs">
    Nuestros servicios comienzan con una consulta detallada. Nuestro objetivo es comprender cada aspecto de su situación - vida profesional, familia, planes de viaje, presupuesto - para elaborar una estrategia personalizada que garantice que cumpla con todos los requisitos para la aprobación de la visa.
</div>
<div class="font-bold mt-4">
    Aprobación de la visa y cédula de extranjería
</div>
<div class="font-xs">
    Nuestros servicios comienzan con una consulta detallada. Nuestro objetivo es comprender cada aspecto de su situación - vida profesional, familia, planes de viaje, presupuesto - para elaborar una estrategia personalizada que garantice que cumpla con todos los requisitos para la aprobación de la visa.
</div>

<div class="text-2xl font-bold mt-8">¿Por qué contratar nuestros servicios?</div>
<div class="font-bold mt-4">Asesoramiento Personalizado</div>
<div class="font-xs">Nuestros servicios comienzan con una consulta detallada. Nuestro objetivo es comprender cada aspecto de su situación - vida profesional, familia, planes de viaje, presupuesto - para elaborar una estrategia personalizada que garantice que cumpla con todos los requisitos para la aprobación de la visa.</div>
<div class="font-bold mt-4">
    Flexibilidad y Múltiples Canales de Comunicación
</div>
<div class="font-xs">
    Reconociendo la importancia de la recolección de documentos, ofrecemos múltiples opciones de comunicación adaptadas a su horario, asegurando una revisión exhaustiva y un timing perfecto alineado con sus necesidades de viaje.
</div>
<div class="font-bold mt-4">
    Transparencia y Control Total Sobre Su Aplicación
</div>
<div class="font-xs">
    Tendrá acceso completo a todos los documentos presentados y actualizaciones. Nuestro equipo sigue su caso diariamente y asesora prontamente sobre respuestas a cualquier información adicional o requisitos de las autoridades.
</div>
<div class="font-bold mt-4">
    Claridad en Cada Etapa del Proceso
</div>
<div class="font-xs">
    Le guiamos a través de cada fase de la aplicación, desde la preparación hasta los pagos, abordando requisitos, y celebrando las aprobaciones, y brindamos apoyo en caso de denegación.
</div>



<div class="font-bold mt-4">Asistencia Post-Aprobación</div>
<div class="font-xs">
    Una vez su visa sea aprobada, asistimos con la programación de una cita en Migración Colombia para su registro de visa y Cédula de Extranjería, ayudándole a integrarse sin problemas en la vida local.
</div>