---
import VisaFilterWidget from "./VisaFilterWidget.jsx"
import { getCollection } from 'astro:content';
const allVisas = await getCollection('visas', ({ id }) => {
  return id.startsWith('en/');
});

const someVisas = allVisas.slice(0,4)
console.log(someVisas)
---
<section class="bg-white h-auto py-16 my-16 max-w-screen-lg mx-auto ">
    <div class="text-3xl mb-3 font-bold text-primary pt-4">Colombian Visas Assistance Services</div>
    <p class="font-light mb-3 text-lg text-primary">With our expert bilingual legal professionals, we design effective relocation strategies for individuals and families looking to permanently settle in Colombia, taking into account their personal circumstances, employment situation, expectations, Spanish proficiency, and familiarity with Colombia.
    </p>    
    <div class="text-3xl mb-3 mt-6 font-bold text-primary">Which Visa Category should I apply for?</div>
    <p class="font-light mb-3 text-lg text-primary">
        There are over 45 visa categories. Each visa category correspond to an authorized activity that the foreigner will be performing in the country. Each category has its own requirements, benefits and restrictions. Here are some tips to find your ideal visa category 
    </p>    
    <VisaFilterWidget client:load/>

</section>