---

---

<div class="bg-slate-100">
    <div class="max-w-screen-xl mx-auto py-12">
        <h2 class="text-2xl font-bold text-primary text-center md:text-left">Still not sure?</h2>
        <div class="flex flex-col md:flex-row mt-4">
            <div class="w-full md:w-3/5 flex flex-col">
                <p class="text-lg font-light text-primary mb-4 text-center md:text-left">Secure personalized visa options consultation with our experienced bilingual attorneys for only 
                    COP $250,000.</p>
                    <a href="https://calendly.com/danielluque/45-min-meeting?back=1&month=2024-03" class="bg-secondary w-fit text-white px-6 py-2 rounded shadow shadow-lg hover:bg-primary mt-4 mx-auto">Book now</a>
            </div>            
            <div class="w-full text-center md:text-left md:w-2/5">
                <ul>
                    <li class="mt-1 md:ml-6 mb-1.5 font-bold text-primary">Tailored</li>
                    <li class="mt-1 md:ml-6 mb-1.5 font-bold text-primary">Strategic</li>
                    <li class="mt-1 md:ml-6 mb-1.5 font-bold text-primary">Insightful</li>
                    <li class="mt-1 md:ml-6 mb-1.5 font-bold text-primary">Bilingual</li>
                </ul>
            </div>
    </div>


</div> 