---
// import VisaFilterWidget from "./VisaFilterWidget.jsx"
---

<!-- Genki component -->
<section class="max-w-screen-lg mx-auto py-12">
	<h2 class="text-2xl font-bold text-primary mb-6">Need a Travel Health Insurance for your visa application?</h2>
	<iframe width="1024" height="320" loading="lazy" style="background: transparent; border: none;"
	sandbox="allow-popups allow-popups-to-escape-sandbox allow-scripts"
	src="https://widgets.genki.world/calculator?hue=222&saturation=77&with=capitaleme"></iframe>
</section>
<!-- <VisaFilterWidget client:load/> -->