---
import {  getEntry } from 'astro:content';
const featArticle = await getEntry('posts','en/counting-your-days')

---
<section>
    <div class="py-8 mx-auto max-w-screen-lg sm:py-16 ">  
        <div class="text-3xl font-bold text-primary mb-3">
            {featArticle.data.title}            
        </div> 
        <p class="text-lg">{featArticle.data.description}</p>
        
    </div>
</section>