---

import Layout from "../../../layouts/Layout.astro";
import SectionOne from "../../../components/en/visas/Section_1.astro";
import { getCollection } from 'astro:content';
const allVisas = await getCollection('visas', ({ id }) => {
  return id.startsWith('en/');
});
---

<Layout title="All resources">
    <div class="mt-16">
                <SectionOne/>

                <div class="py-8 px-4 mx-auto max-w-screen-lg sm:py-16 lg:px-6 ">  
                  {allVisas.map(p => (
                      <a href={`/es/visas/${p.slug.slice(3)}`}>{p.data.title}</a><br>
                    ))}
                </div>
    </div>
</Layout>