---


---
<div class="w-3/4 mx-auto py-6 ">
  <div class="text-center">
      <h2 class="font-bold text-primary text-2xl">⚠️ If you are looking to apply for an Investor visa, you should know:</h2>
  </div>

  <div class="mt-4 font-light ">
      <div>
          <h3 class="font-bold text-xl text-primary">Minimum price required:</h3>
          <p>The minimum registered price for the property is 350 minimum wages: that increases every January 1st in Colombia. In 2024, the minimum wage is $1,300,000 COP for a total of $455,000,000 COP for the year of 2024. The M - Investor in Real Estate visa can be granted from 1 to 3 years.</p>
      </div>

      <div>
          <h3 class="font-bold text-xl text-primary">Registered price:</h3>
          <p>As per the visa requirements, you must have a certificate of ownership (certificado de libertad y tradición) stating the full amount paid for the property, or at least the minimum amount plus an approximate value for projecting the increase in the minimum wage.</p>
      </div>

      <div class="pl-6 border-l-4 border-primary">
          <h4 class="font-bold text-lg text-primary">Spoiler no. 1:</h4>
          <p>Colombian sellers and realtors will ask you to lower the registered price to avoid tax issues. This is why you need an attorney by your side to ensure this is done correctly, as you could lose the possibility to apply for a visa even if you have paid more than the minimum amount.</p>
      </div>

      <div class="pl-6 border-l-4 border-primary">
          <h4 class="font-bold text-lg text-primary">Spoiler no. 2:</h4>
          <p>Colombian sellers and realtors will tempt you with the possibility of receiving the payment abroad. However, you’ll need to bring the property price to Colombia, preferably via a brokerage account, since the price and amount brought to Colombia must be duly registered with Form 4 before the Colombian Central Bank (Banco de la República) in order to obtain a certificate of direct foreign investment, which is a must for the Investor in Real Estate visa application approval. The Certificate of Direct Foreign Investment can also be obtained by doing bank-to-bank transfers, the most important thing is that the money arrives to Colombia (or at least the minimum amount required).</p>
      </div>
  </div>
</div>

