---
import { getCollection } from 'astro:content';
import { marked } from 'marked';

const pages = await getCollection('page');
const contentHtml = pages.length > 0 ? marked(pages[0].data.content) : '';
---
<html>
  <head>
    <title>Notion Page</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  </head>
  <body>
    {pages.length > 0 ? (
      <div>
        <h1>{pages[0].data.title}</h1>
        <div set:html={contentHtml} />
      </div>
    ) : (
      <p>No content available. Check Notion credentials and page access.</p>
    )}
  </body>
</html>