---

---

<section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl text-primary font-extrabold tracking-tight leading-none md:text-3xl xl:text-6xl">Discover all Colombian visa categories</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl ">
                Discover the perfect Colombian visa for your journey ahead. Whether you're an aspiring entrepreneur, a globe-trotting freelancer, a dedicated student, or seeking the tranquil bliss of retirement, we guide you through a seamless application process. Explore our diverse visa categories, designed with your aspirations in mind. Simplify your search with our user-friendly filter, ensuring you find your path to Colombia's vibrant landscapes and rich culture. Start your adventure today—navigate, apply, and let Colombia captivate you.
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="/all-visas.jpeg" alt="mockup">
        </div>                
    </div>
</section>