---

---

<div class="h-auto mt-12 md:h-screen flex flex-col justify-center px-6 w-auto md:w-2/3 mx-auto">    
    <h1 class="text-4xl md:text-6xl font-extrabold text-primary justify-left md:my-8 mt-8">
      Your Colombian Visa application <br />
      <span class="text-terciary underline decoration-terciary">made simple</span>
    </h1>


    <p class="mt-6 md:my-12 text-lg md:text-4xl">
      <strong class="block text-primary text-left md:text-right">We Do Visas Differently</strong>
      <span class="block text-terciary text-left md:text-right md:text-3xl">Fast, Affordable, Bilingual</span>
    </p>
    <div class="my-8">
      <p class="text-primary md:text-2xl">
        Book a 45 min initial consultation for only <strong class="text-primary">$175,000 COP</strong>
      </p>
      <a
        href="#"
        class="mt-4 inline-block bg-terciary text-white text-sm md:text-lg font-semibold md:px-8 md:py-3 py-3 px-6 rounded-lg hover:bg-primary transition"
      >
        Book now
      </a>
    </div>
</div>