---

---

<div class="font-bold mt-16 text-3xl">Service journey</div>
<div class="font-bold mt-4">Initial consultation / Strategy and workplan definition</div>
<div class="font-xs">Our services begin with an in-depth consultation. We aim to understand every aspect of your situation - professional life, family, travel plans, budget - to craft a customized strategy that ensures you meet all requirements for visa approval.</div>

<div class="font-bold mt-4">
    Documents and information review
</div>
<div class="font-xs">
    Our services begin with an in-depth consultation. We aim to understand every aspect of your situation - professional life, family, travel plans, budget - to craft a customized strategy that ensures you meet all requirements for visa approval.
</div>
<div class="font-bold mt-4">
    Visa submission & monitoring
</div>
<div class="font-xs">
    Our services begin with an in-depth consultation. We aim to understand every aspect of your situation - professional life, family, travel plans, budget - to craft a customized strategy that ensures you meet all requirements for visa approval.
</div>
<div class="font-bold mt-4">
    Visa approval and cedula de extranjería
</div>
<div class="font-xs">
    Our services begin with an in-depth consultation. We aim to understand every aspect of your situation - professional life, family, travel plans, budget - to craft a customized strategy that ensures you meet all requirements for visa approval.
</div>

<div class="text-2xl font-bold mt-8">Why hire our services?</div>
<div class="font-bold mt-4">Personalized Advice</div>
<div class="font-xs">Our services begin with an in-depth consultation. We aim to understand every aspect of your situation - professional life, family, travel plans, budget - to craft a customized strategy that ensures you meet all requirements for visa approval.</div>
<div class="font-bold mt-4">
    Flexibility and Multiple Communication Channels
</div>
<div class="font-xs">
    Recognizing the importance of document collection, we offer multiple communication options tailored to your schedule, ensuring thorough review and perfect timing aligned with your travel needs.
</div>
<div class="font-bold mt-4">
    Transparency and Total Control Over Your Application
</div>
<div class="font-xs">
    You'll have full access to all submitted documents and updates. Our team tracks your case daily and promptly advises on responses to any additional information or requirements from authorities.
</div>
<div class="font-bold mt-4">
    Clarity at Every Stage of the Process
</div>
<div class="font-xs">
    We guide you through each phase of the application, from preparation to payments, addressing requirements, and celebrating approvals, and provide support in case of denial.
</div>



<div class="font-bold mt-4">Post-Approval Assistance</div>
<div class="font-xs">
    Once your visa is approved, we assist with scheduling an appointment at Migración Colombia for your visa registration and Cédula de Extranjería, helping you integrate seamlessly into local life.
</div>