---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import SectionOne from "../../components/en/blog/SectionOne.astro";
---

<Layout title="Blog">
    <div class="mt-16">

        <SectionOne/>
    </div>

</Layout>