---
import Layout from "../../layouts/Layout.astro";
import SectionOne from '../../components/en/real-estate/Section_1.astro';
import SectionTwo from '../../components/en/real-estate/Section_2.astro';
import SectionThree from '../../components/en/real-estate/Section_3.astro';
import SectionFour from '../../components/en/real-estate/Section_4.astro';
import Calculator from "../../components/en/real-estate/Calculator";
// import TaxCalculator from "../components/en/real-estate/TaxCalculator";


const pageTitle = "Real Estate";

---
<Layout title={pageTitle}>
      <div class="px-4">

            <div class="bg-gray-50 p-8 rounded-lg shadow-md space-y-4">
                  <!-- Title -->
                  <h2 class="text-2xl font-bold text-gray-800">Properties Listings</h2>
                
                  <div class="grid grid-cols-3 max-w-5xl mx-auto">

                        <!-- Selling Section -->
                        <div class="p-4 bg-blue-50 border border-blue-200 rounded-md">
                        <h3 class="text-lg font-semibold text-blue-700">Looking to sell?</h3>
                        <p class="text-sm text-blue-600">
                        <a href="#" class="text-blue-800 underline hover:text-blue-500">
                              List with Us
                        </a>
                        </p>
                        </div>
                  
                        <!-- Buying Section -->
                        <div class="p-4 bg-green-50 border border-green-200 rounded-md">
                        <h3 class="text-lg font-semibold text-green-700">Looking to buy?</h3>
                        <p class="text-sm text-green-600">
                        <a href="#" class="text-green-800 underline hover:text-green-500">
                              Property Finding Assistance Service
                        </a>
                        </p>
                        </div>
                  
                        <!-- Advice Section -->
                        <div class="p-4 bg-yellow-50 border border-yellow-200 rounded-md">
                        <h3 class="text-lg font-semibold text-yellow-700">Need Advice?</h3>
                        <p class="text-sm text-yellow-600">
                        Resources: 
                        <a href="#" class="text-yellow-800 underline hover:text-yellow-500">HOA</a>, 
                        <a href="#" class="text-yellow-800 underline hover:text-yellow-500">Predial</a>, 
                        <a href="#" class="text-yellow-800 underline hover:text-yellow-500">Promesa de Compraventa</a>, 
                        <a href="#" class="text-yellow-800 underline hover:text-yellow-500">Arrendamiento</a>.
                        </p>
                        </div>

                  </div>

                </div>




            
            <SectionOne/>
            <SectionTwo />
            <SectionThree />
            <Calculator client:load/>
            <SectionFour />
            <!-- <TaxCalculator client:load /> -->

                  
      </div>
    
</Layout>


<!-- https://preview.themeforest.net/item/homelengo-real-estate-react-nextjs-template/full_screen_preview/55221268?_ga=2.115483270.1269779563.1737505432-561667645.1737505432 -->
<!--  -->
<!-- https://preview.themeforest.net/item/findhouse-real-estate-react-nextjs-template/full_screen_preview/40848817?_ga=2.115483270.1269779563.1737505432-561667645.1737505432 -->
<!--  -->
<!-- https://preview.themeforest.net/item/homy-real-estate-react-js-template-dashboard/full_screen_preview/54462367?_ga=2.115483270.1269779563.1737505432-561667645.1737505432 -->
<!--  -->
<!-- https://preview.themeforest.net/item/quarter-real-estate-react-template/full_screen_preview/34222962?_ga=2.115483270.1269779563.1737505432-561667645.1737505432 -->
<!--  -->
<!-- https://preview.themeforest.net/item/homy-real-estate-react-next-js-template-dashboard/full_screen_preview/50732099?_ga=2.115483270.1269779563.1737505432-561667645.1737505432 -->
<!--  -->
<!-- http://preview.themeforest.net/item/acres-real-estate-react-template/full_screen_preview/29896485?_ga=2.115483270.1269779563.1737505432-561667645.1737505432 -->
<!--  -->
<!-- https://preview.themeforest.net/item/homez-real-estate-react-nextjs-template/full_screen_preview/47704622?_ga=2.10618420.1269779563.1737505432-561667645.1737505432 -->
<!--  -->
<!-- https://homez-appdir.vercel.app/ -->