---


---
<div class="px-6 w-2/3 mx-auto">    
        <h2 class="font-bold text-primary text-2xl">What’s it like to buy property in Colombia?</h2>
        <div class="font-light text-lg text-primary">
          <p>If you are planning to buy a finca, an apartment, or any real estate property in Colombia, it's important to know that the process is quite different from that in the USA, Europe, and other countries.</p>
          <p>In Colombia, the absence of escrow accounts, the notarial and registration rules, and our own negotiation culture, can be challenging sometimes.</p>
          <p>Here, you'll find a common version of how this process goes. </p>
          <p>However, keep in mind that the actual process can vary depending on specific circumstances.</p>
        </div>

        
          <div class="border p-6">
            <h3 class="font-bold text-xl text-primary">Getting ready: Timing & Banking</h3>
            <div class="font-light text-lg text-primary">
              <p>Once you have found your dream property and before sending a written offer (which could be legally binding), you want to make sure that you have the available funds in Colombia and properly registered before the Central Bank.</p>
              <p>The process of bringing funds to Colombia implies (normally) opening a brokerage account with a local financial institution who will buy your foreign currency and exchange it to local currency. This is done by submitting some forms, information and documents to the institution. This should take one week.</p>
            </div>
          </div>
        
          <div class="border p-6">
            <h3 class="font-bold text-xl text-primary">Title search / Due Diligence</h3>
            <div class="font-light text-lg text-primary">
              <p>Some properties may have mortgages, probate issues, liens, or other legal encumbrances that sellers or their representatives could forget to disclose upfront.</p>
              <p>To confirm this information, it’s important to perform a title search. This involves a thorough review of relevant documents, such as previous deeds, the ownership certificate, the seller’s background, and HOA rules. This review provides peace of mind, ensuring that the property has no legal restrictions and can be transferred to you without issues.</p>
              <p>Additionally, findings from the title search may present new points for negotiation with the seller.</p>
            </div>
          </div>
        
          <div class="border p-6">
            <h3 class="font-bold text-xl text-primary">Promise of Sale</h3>
            <div class="font-light text-lg text-primary">
              <p>Due to the lack of a widespread use of an escrow account, Colombians use a contract called “Promesa de Compraventa” to ensure the deal and to penalize the party who withdraws from the deal without a reason. This contract is a private document that will set all the essential points of the deal: Price, payment structure, delivery date, and related obligations. It will also set a date, time and notary in which the deeds will get signed.</p>
            </div>
          </div>
        
          <div class="border p-6">
            <h3 class="font-bold text-xl text-primary">Deed signing and Closing</h3>
            <div class="font-light text-lg text-primary">
              <p>The purchase process is not complete until the Public Deed of Purchase is registered with the Property Registration Office. Before this, both parties must meet at the designated notary on the date and time agreed upon in the promise of sale to sign the public deed.</p>
              <p>At this stage, the transaction is typically finalized, with both parties verifying that all payments have been made correctly, including settling accounts with the seller for items such as internet, property tax (predial), HOA fees, and other obligations.</p>
              <p>This step also includes handing over the keys, checking the condition of the property, and covering the notary and registration fees. Once signed, the deed is submitted to the Property Registration Office for formal registration and will remain there for around 15 business days after which you will be able to pick the deeds up from the Notary where you sign the deeds.</p>
            </div>
          </div>
        
        
</div>

