---


---
<section class="h-auto py-16 my-16 max-w-screen-xl mx-auto text-primary">
    <div class="text-3xl mb-3 font-bold pt-4">We advice your Real Estate Purchase in Medellín all the way</div>
    <p class="font-light mb-3 text-lg text-primary">You will have a bilingual expert attorney and agent by your side to make sure everything is compliant, safe, fast and comfortable with your purchase.</p>    
    <div class="grid grid-cols-4 gap-4">        
        <div class="block  border border-gray-200 rounded-lg shadow hover:bg-cyan-100 p-5 hover:text-secondary">
            <h5 class="mb-2 text-2xl font-bold">Assisted Property search</h5>
            <p class="font-normal">With an international real estate advisor, let an experienced bilingual agent guide you through the different parts of the city.</p>
        </div>
        <div class="block  border border-gray-200 rounded-lg shadow hover:bg-cyan-100 p-5 hover:text-secondary">
            <h5 class="mb-2 text-2xl font-bold">Legal Analysis</h5>
            <p class="font-normal">Have an experienced team of bilingual attorneys perform the due dilligence on your transaction</p>
        </div>
        <div class="block  border border-gray-200 rounded-lg shadow hover:bg-cyan-100 p-5 hover:text-secondary">
            <h5 class="mb-2 text-2xl font-bold">Legal Representation</h5>
            <p class="font-normal">Sit down in the negotiation table with the best local bilingual legal partner to protect your interests</p>
        </div>
        <div class="block  border border-gray-200 rounded-lg shadow hover:bg-cyan-100 p-5 hover:text-secondary">
            <h5 class="mb-2 text-2xl font-bold">Transaction Assistance</h5>
            <p class="font-normal">Bringing funds to Colombia, Registration before the Central Bank, closing costs</p>
        </div>

        <div class="block  border border-gray-200 rounded-lg shadow hover:bg-cyan-100 p-5 hover:text-secondary">
            <h5 class="mb-2 text-2xl font-bold">Investment Visa</h5>
            <p class="font-normal">Get a Migrant Visa for 1-3 years and get your Cédula de Extranjería</p>
        </div>
        
    </div>
    <div class="">
        If you are still searching for the property of your dreams, we have a highly experienced, bilingual, and international real estate advisor, Daniel Ferrett. He can assist you not only with purchases but also with property flipping and any architectural needs you might have along the way. 
        Feel free to fill out this form to provide the necessary information and contact him via WhatsApp.

<script src="https://forms.app/static/embed.js" type="text/javascript" async defer onload="new formsapp('666223e4f53ce7d286ec11b3', 'sidetab', {'button':{'text':'Click here!','color':'#16345F'},'align':{'horizontal':'right','vertical':'middle'},'width':'400px','height':'500px'});"></script>
    </div>

</section>