---
export const prerender = true;
import Layout from '../../layouts/Layout.astro';
import HomeHero   from '../../components/en/home/HomeHero.astro';
import HomeAboutUs   from '../../components/en/home/HomeAboutUs.astro';
import HomeVisasSection from '../../components/en/home/HomeVisasSection.jsx';
import HomeRealEstateSection from '../../components/en/home/HomeRealEstateSection.astro';
import HomeBusinessSection from '../../components/en/home/HomeBusinessSection.astro';
import CalendlyInline from '../../components/en/common/CalendlyInline.astro';
import LatestFromBlog from '../../components/en/blog/LatestFromBlog.astro';
import { getCollection } from "astro:content";
const allVisas = await getCollection("visas", (visa) =>
  visa.id.startsWith("en/")
);
---


<Layout title="Capital M Law - Home">
	<main class="">        
        <HomeHero/>
        <HomeAboutUs/>
        <HomeVisasSection client:load allVisas={allVisas} locale="en"/>
        <HomeRealEstateSection/>
		<HomeBusinessSection/>
        <CalendlyInline />
		<LatestFromBlog/>
	</main>
</Layout>
