---
import Layout from '../../layouts/Layout.astro';
import VisaServicesOverview from '../../components/features/visa-services/VisaServicesOverview.astro';
import VisaServicesProcess from '../../components/features/visa-services/VisaServicesProcess.astro';
import VisaServicesBenefits from '../../components/features/visa-services/VisaServicesBenefits.astro';
import VisaServicesFeatures from '../../components/features/visa-services/VisaServicesFeatures.astro';
import BlogPageLatest from '../../components/features/blog/BlogPageLatest.astro';

const pageTitle = "Visas & Immigration";

---
<Layout title={pageTitle}>
      <div class="px-4">

            <VisaServicesOverview/>
            <VisaServicesProcess/>
            <VisaServicesBenefits/>
            <VisaServicesFeatures/>
            <div class="max-w-screen-xl mx-auto">

                  <BlogPageLatest/>      
            </div>
      </div>
    
</Layout>
