---
import Layout from '../../layouts/Layout.astro';
import { getAllContentData } from '../../server/lib/contentData.js';
const lang = 'en';
const menuData = await getAllContentData(lang);
---
<Layout title="Contact" lang={lang} menuData={menuData}>

    <div class="mt-16">
        Thank you!
    </div>
    


</Layout>