---
// import ContactForm from '../common/ContactForm.astro';
---
<section class="max-w-screen-lg mx-auto mt-20 mb-12 py-10">
    <div class="flex">
        <div class="text-primary w-1/3">
            <div class="text-2xl font-bold mb-6 text-primary">Follow us</div>
            <ul>
                <li>Facebook</li>
                <li>TikTok</li>
                <li>Instagram</li>
            </ul>
        </div>
        <div class="w-2/3">
            <div class="text-2xl text-primary font-bold mb-6">Visit our YouTube Channel</div>
            <iframe class="w-full aspect-video " src="https://www.youtube.com/embed/30je3JaSq5U"></iframe>            
        </div>
    </div>
    


</section>