---
import { getCollection } from 'astro:content';
import ResourcesLayout from '../../../layouts/ResourcesLayout.astro';
export const prerender = true;

export async function getStaticPaths() {
  const resourcesEntries = await getCollection('resources',({ id }) => {
    return id.startsWith('es/');
  });
  
  return resourcesEntries.map(entry => ({
      params: { 
          slug: entry.slug.slice(3) 
      }, 
      props: { entry },
  }));
}


const { entry } = Astro.props;
const { Content, headings } = await entry.render()
const { pathname } = Astro.url

---
<ResourcesLayout title={entry.data.title} frontmatter={entry.data} headings={headings}>
  <div class="py-8 pl-4 mt-16 font-bold text-3xl bg-slate-100 rounded">{entry.data.title}</div>
  <Content />
</ResourcesLayout>