---
import Layout from "../../../layouts/Layout.astro";
import ServicesGrid from '../../../components/en/real-estate/ServicesGrid';
import SellerFeatures from '../../../components/en/real-estate/SellerFeatures';
import HomeRealEstateSection from '../../../components/en/home/HomeRealEstateSection.jsx';
import GoogleReviews from '../../../components/en/common/GoogleReviews.jsx'
import Calculator from "../../../components/en/real-estate/Calculator";
import RealEstateHero from "../../../components/en/real-estate/RealEstateHero.astro";
const pageTitle = "Real Estate Services in Colombia";
---
<Layout title={pageTitle}>

      <RealEstateHero />

      <HomeRealEstateSection client:load/>

      <div class="mx-auto w-auto md:w-2/3 mb-8">
            <div class="mb-16">
                  <GoogleReviews client:load/>
            </div>
            <Calculator client:load/>
      </div>


      <div class="px-4 w-auto md:w-full mx-auto mt-[75px]">
            
            <div class="bg-gray-50 p-8 rounded-lg shadow-md space-y-8 mb-8">
                  
                  
                  <ServicesGrid client:load />
            </div>

            <SellerFeatures client:load />

        


      </div>
</Layout>

