---
import ContactTabs from "../common/ContactForm.astro"
---

<section class="h-full mt-16 md:mt-24 mb-16 pt-12 md:pt-20 flex flex-col md:flex-row justify-center items-center max-w-screen-lg mx-auto">
    
            <div class="w-full h-full p-2 md:p-0">
              <div class="text-4xl md:text-5xl font-bold text-primary mb-8 flex flex-col justify-between">
                <span class="mb-1.5">ORGANIZAMOS <br/></span>
                <span class="mb-1.5">TUS ASUNTOS LEGALES<br/> </span>
                <span class="mb-1.5">EN COLOMBIA</span>
              </div>
              <div class="mb-5 text-lg md:text-xl text-primary text-light">
                Firma boutique localizada en Medellín. <br>
                Ofrecemos asesoría legal a clientes internacionales
              </div>
              <ul>
                <li class="mb-3 text-lg md:text-xl text-primary flex">
                  <svg class="w-6 h-6 text-secondary mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm13.7-1.3a1 1 0 0 0-1.4-1.4L11 12.6l-1.8-1.8a1 1 0 0 0-1.4 1.4l2.5 2.5c.4.4 1 .4 1.4 0l4-4Z" clip-rule="evenodd"/>
                  </svg>
                  Servicios de Visas e Inmigración
                </li>
                <li class="mb-3 text-lg md:text-xl text-primary flex">
                  <svg class="w-6 h-6 text-secondary mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm13.7-1.3a1 1 0 0 0-1.4-1.4L11 12.6l-1.8-1.8a1 1 0 0 0-1.4 1.4l2.5 2.5c.4.4 1 .4 1.4 0l4-4Z" clip-rule="evenodd"/>
                  </svg>
                  Formalización de empresas
                </li>
                <li class="mb-3 text-lg md:text-xl text-primary flex">
                  <svg class="w-6 h-6 text-secondary mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm13.7-1.3a1 1 0 0 0-1.4-1.4L11 12.6l-1.8-1.8a1 1 0 0 0-1.4 1.4l2.5 2.5c.4.4 1 .4 1.4 0l4-4Z" clip-rule="evenodd"/>
                  </svg>
                  Negocios Inmobiliarios
                </li>
              </ul>
              
            </div>
        
            <div class="w-full p-2 md:p-0">
              <div class="font-bold text-primary bg-slate-100 pl-3 pt-2">Contacta ahora</div>
              <ContactTabs/>
            </div>                   
        
    </div>
</section>