---

---

<section class="bg-slate-100">
    <div class="py-8 px-4 mx-auto max-w-screen-lg sm:py-16 lg:px-6">  
        <h2 class="text-3xl font-bold text-primary mb-4">Quieres que hablemos sobre tu caso?</h2>
        <p class="font-light text-xl text-primary mb-4">Reserva una llamada gratuita de 45 minutos con nuestros abogados</p>
        <a href="https://calendly.com/danielluque/45-min-meeting" target="_blank" class="bg-secondary text-white font-bold text-sm py-2 w-full px-8 rounded shadow shadow-lg hover:bg-primary">Agendar ahora</a>
    </div>
</section>