---

---

<section class="h-auto pb-16 pt-8 px-16">
    <div class="max-w-screen-lg mx-auto">

        <div class="text-3xl font-bold text-primary mb-3">
            Mission and Vision
        </div>   
        <div class="text-lg font-light text-primary">
            <p class="mb-4">We want to help expats, nomads and travelers with their immigration processes in Colombia because we know what it means to be playing away from home.</p>
            <p class="mb-4">Ultimately, we want enrich Colombia through cultural exchange, because culture gets only richer with expats, foreigners, travelers, and nomads.</p>
            <p class="mb-4">We welcome gringos! We understand cultural differences and language barriers can slower down some [already slow] legal processes.</p>
        </div>
    </div>
</section>

