---

---
<section class="bg-white h-auto py-16 my-16 max-w-screen-lg mx-auto">       
       <div class="flex flex-col md:flex-row md:gap-6">              
                     <div class="w-full md:w-2/3">
                            <div class="text-3xl font-bold text-primary mb-3 pt-4">
                                   Hay algo de nosotros que quiero contarte
                            </div>                 
                            <div class="text-lg text-primary">
                                   <p class="mb-4 font-light">Somos abogados colombianos. Entendemos la jerga, la cultura y las prácticas comunes del sistema jurídico colombiano. </p>
                                   <p class="mb-4 font-light">Hemos practivado el Derecho en diferentes áreas, obteniendo una valiosa experiencia puesta a su disposición para proteger sus interesees.</p>
                                   <p class="mb-4 font-light">Creemos que entendiendo las regulaciones y leyes colombianas no debería ser difícil. </p>
                                   <p class="mb-4 font-light">Nuestra filosofía consiste en simplificar las complejidades del sistema legal y priorizar la comunicación transparente, la confianza y el humanismo en todas nuestras interacciones</p>
                                   <p class="mb-4 font-light">Nos gustan los gatos. Harry Potter. Kimetsu no Yaiba. Shakira. Bad Bunny. García Marquez. </p>
                            </div>
                     </div>
                     <div class="w-full md:w-1/3 bg-slate-100 p-4 shadow rounded rounded-lg">
                            <div class="text-3xl font-bold text-primary mb-3">
                                   Misión y Visión
                               </div>   
                               <div class="text-lg font-light text-primary">
                                   <p class="mb-4">Queremos ayudar a extranjeros, nómadas y viajeros en sus procesos migratorios puesto que sabemos lo difíci que es jugar fuera de casa.</p>
                                   <p class="mb-4">En últimas, queremos enriquecer la cultura colombiana a través del intercambio multicultural. Pues creemos que la cultura local se enriquece con las experiencias y puntos de vista extranjeros.</p>
                                   <p class="mb-4">Los extranjeros son bienvenidos! Entendemos que las diferencias culturales y las barreras idiomáticas pueden ralentizar algunos procesos legales.</p>
                               </div>                     
                     </div>              
       </div>
</section>