---
import Layout from "../layouts/Layout.astro";
import SectionOne from '../components/en/about/Section_1.astro';
import SectionThree from '../components/en/about/Section_3.astro';
import LatestFromBlog from "../components/en/blog/LatestFromBlog.astro";
import ReviewsSection from '../components/en/home/ReviewsSection';
const pageTitle = "About Us";

---
<Layout title={pageTitle}>    
      <div class="mt-16">
      <SectionOne/>
            <div class="max-w-screen-xl mx-auto">
                  <ReviewsSection client:load />
            </div>
      
            <SectionThree/>
      
            <div class="max-w-screen-xl mx-auto">
                  <LatestFromBlog/>
            </div>
      </div>
</Layout>
