---
import Layout from "../layouts/Layout.astro";
import MissionVision from '../components/en/about/MissionVision.astro';
import OurTeam from '../components/en/about/OurTeam.astro';
import LatestFromBlog from "../components/en/blog/LatestFromBlog.astro";
import ReviewsSection from '../components/en/home/ReviewsSection';
const pageTitle = "About Us";

---
<Layout title={pageTitle}>    
      <div class="mt-16">
      <MissionVision/>
            <div class="max-w-screen-xl mx-auto">
                  <ReviewsSection client:load />
            </div>
      
            <OurTeam/>
      
            <div class="max-w-screen-xl mx-auto">
                  <LatestFromBlog/>
            </div>
      </div>
</Layout>
