---
export const prerender = true;
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import LatestFromBlog from '../components/en/blog/LatestFromBlog.astro';
import HomeHero   from '../components/en/home/HomeHero.astro';
import HomeAboutUs   from '../components/en/home/HomeAboutUs.astro';
import HomeVisasSection from '../components/en/home/HomeVisasSection.jsx';
import HomeRealEstateSection from '../components/en/home/HomeRealEstateSection.jsx';
import CalendlyInline from '../components/en/home/CalendlyInline.astro';

const allVisas = await getCollection("visas", (visa) =>
  visa.id.startsWith("en/")
);
---

<Layout title="Capital M Law - Home">
	<main class="">        
        <HomeHero/>
        <HomeAboutUs/>
        <HomeVisasSection client:load allVisas={allVisas} locale="en"/>
        <HomeRealEstateSection client:load/>        
        <CalendlyInline />        
		    <LatestFromBlog/>
	</main>
</Layout>
