---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import SectionOne from '../components/en/home/Section_1.astro';
import SectionTwo from '../components/en/home/Section_2.astro';
import SectionThree from '../components/en/home/Section_3.astro';
import ReviewsSection from '../components/en/home/ReviewsSection';
import LatestFromBlog from '../components/en/blog/LatestFromBlog.astro';

---

<Layout title="Capital M.">
	<main>
		<SectionOne/>
		<SectionTwo/>
		<SectionThree/>
		<!-- <SectionFour/> -->
		<ReviewsSection client:load/>
		<LatestFromBlog/>
	</main>
</Layout>
