---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/en/home/Hero.astro';
import FeaturedPost from '../components/en/home/FeaturedPost.astro';
---

<Layout title="Capital M.">
	<main>
		<Hero/>
		<FeaturedPost/>
	</main>
</Layout>
