---
import Layout from '../layouts/Layout.astro';
import SectionOne from '../components/en/home/Section_1.astro';
import SectionTwo from '../components/en/home/Section_2.astro';
import SectionThree from '../components/en/home/Section_3.astro';
import SectionFour from '../components/en/home/Section_4.astro';
import SectionFive from '../components/en/home/Section_5.astro';
---

<Layout title="Capital M.">
	<main>
		<SectionOne/>
		<SectionTwo/>
		<SectionThree/>
		<SectionFour/>
		<SectionFive/>
	</main>
</Layout>
