---
import Layout from "../layouts/Layout.astro";
import SectionOne from '../components/en/services/Section_1.astro';
import SectionTwo from '../components/en/services/Section_2.astro';
import SectionThree from '../components/en/services/Section_3.astro';
import SectionFour from '../components/en/services/Section_4.astro';
import SectionFive from '../components/en/services/Section_5.astro';

const pageTitle = "Visas & Immigration";

---
<Layout title={pageTitle}>
    <div class="mt-16 max-w-screen-lg mx-auto">
      <SectionOne/>
      <SectionTwo/>
      <SectionThree/>
      <SectionFour/>
      <SectionFive/>
 
        

      
    </div>    
</Layout>
