---
export const prerender = true;
import Layout from "../../../layouts/Layout.astro";
import SectionOne from "../../../components/en/resources/Section_1.astro";
import { getCollection, getEntry } from 'astro:content';
const allResources = await getCollection('posts', ({ id }) => {
  return id.startsWith('es/');
});
---

<Layout title="All resources">
    <div class="mt-16">
                <SectionOne/>

                {allResources.map(p => (
                    <a href={`/blog/${p.slug.slice(3)}`}>{p.data.title}</a><br>
                  ))}
    </div>
</Layout>