---
import { getCollection } from "astro:content";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import BlogLayout from "../../../layouts/BlogLayout.astro";
const title = "Bienvenido al blog"
const spanishPosts = await getCollection("posts",({ id }) => {
  return id.startsWith('es/');
});


---

<BlogLayout title={title}>

    {
        spanishPosts.map((post) => (
            <a class="flex flex-col m-3 p-2 bg-white border border-gray-200 rounded-lg shadow" href={`/es/posts/${post.slug.slice(3)}/`}>
                <h3 class="mt-2 pt-2">{post.data.title}</h3>      
                <p class="">{post.data.description}</p>              
            </a>
            
        ))
    }

</BlogLayout>