---

---
<section class="bg-secondary py-16">
  <h2 class="text-3xl font-bold text-white mb-8 text-center">Get Started</h2>
  <div class="container mx-auto w-2/3 flex max-w-screen-xl">
      <div class="md:w-1/4 bg-gray-50 p-6 rounded-lg shadow-lg mr-4 border-secondary">
        <p class="text-slate-500 text-left text-lg font-thin">
          At Capital M, we focus on delivering our services through clearly defined projects. We do not engage in ongoing advisory services, allowing us to concentrate fully on providing the best outcomes for each specific need.
        </p>
        <p class="text-slate-500 text-left text-lg font-thin">
          Our services include <span class="text-secondary font-bold">Visa Assistance</span> and <span class="text-secondary font-bold">Purchase Assistance</span> for real estate transactions, ensuring expert legal support tailored to your unique requirements.
        </p>
      </div>    
      <div class="md:w-3/4">
        
        <ol class="relative border-s border-gray-200">                  
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
            <time class="mb-1 text-sm font-bold leading-none text-primary ">Step 1</time>
            <h3 class="text-lg font-semibold text-primary">Book an Appointment</h3>
            <p class="mb-4 text-base text-lg text-zinc-200">We take the time to listen to your needs and understand your goals. Our initial meeting is designed to get to know each other and establish a strong foundation for our work together.</p>
            <a href="https://calendly.com/danielluque/45-min-meeting" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-primary hover:text-white focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700">Book now <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg></a>
        </li>
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
            <time class="mb-1 text-sm font-bold leading-none text-primary ">Step 2</time>
            <h3 class="text-lg font-semibold text-primary">Define Tailored Solution</h3>
            <p class="text-lg text-zinc-200">Together, we’ll craft a customized plan that outlines the steps and actions needed to achieve your objectives. Transparency and collaboration are at the heart of our process.</p>
        </li>
        <li class="ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
            <time class="mb-1 text-sm font-bold leading-none text-primary ">Step 3</time>
            <h3 class="text-lg font-semibold text-primary">Execute and Collaborate</h3>
            <p class="text-lg text-zinc-200">We get to work, keeping you informed every step of the way. Our focus is on delivering results efficiently and maintaining open lines of communication for any adjustments.</p>
        </li>
        </ol>
      </div>

  </div>
</section>