---
// import { useState } from 'astro/jsx-runtime';
import Accordion from '../../Accordion';
import GoogleReviews from '../common/GoogleReviews';
import InfoSection from '../InfoSection';
const sections = [
  {
    title: "Who we are",
    content: `
      We are a service oriented Colombian boutique Law firm based in Medellín, Colombia. Led by Daniel Luque and María Fernanda Duarte, we’re a team with expertise in Colombian Law and we provide services to individuals and groups who are relocating to our country.
    `,
    // image: "/Team.jpeg"
  },
  {
    title: "What we do",
    content: `
      We provide legal advice on Immigration Processes, Property Purchases, Business Incorporations, Trademark Registry, Family Law and more.
    `
  },
  {
    title: "How we work",
    content: `
      We adapt our workflow to each client’s needs. We study each case in detail, according to Colombian Law, to define the least risky, most profitable, and safest path for achieving our client’s goals—a path that always begins with an <a href="/contact" class="underline hover:text-primary">initial consultation</a>.
    `
  },
 
]
---

<section class="md:max-w-5xl mx-auto px-4 md:px-8 py-6 md:py-12 text-primary">
  <h2 class="text-xl text-secondary md:text-3xl font-bold mb-8 md:text-secondary">About Us</h2>
  
  <InfoSection sections={sections} client:load/>
  <h3 class="text-xl md:text-2xl font-semibold transition-colors duration-300 inline-block my-8
                  relative pb-1 text-primary
                  after:content-[''] after:absolute after:left-0 after:bottom-0 after:bg-primary after:h-[2px] after:w-full
                  after:transition-all after:duration-300 after:ease-in-out">What our clients say:</h3>
  <GoogleReviews client:load/>

  
</section>