---
import { getCollection } from 'astro:content';
const allResources = await getCollection('visas', ({ id, data }) => {
  return id.startsWith('en/') ? data.popular !== false : true;
});

const someResources = allResources.reverse().slice(0,15)

---

<section class="bg-white h-auto text-primary p-4 md:p-16 ">
    <div class="max-w-screen-lg mx-auto">
        <div class="text-sm font-bold text-white bg-secondary w-auto py-1.5 px-6 rounded inline mb-3">
            Visas & Immigration
        </div>   
        <div class="text-3xl mb-3 mt-6 font-bold">Colombian Visas Assistance Services</div>
        <div class="font-light mb-3 text-lg">With our Visas Assistance Services, you will have an expert bilingual immigration attorney by your side to help you plan your move to Colombia.</div>
          <div class="w-full h-auto flex justify-center items-center">
            <div class="flex flex-wrap w-auto max-w-4xl mr-auto">
                {someResources.map(p => (
                    <a href={`/visas/${p.slug.slice(3)}`} class="w-full md:w-1/3 py-2 flex justify-center">
                    <div class="block py-2 underline w-full text-lg hover:text-secondary">{p.data.title}</div>
                </a>
                ))}
            </div>
        </div>        
        <div class="text-3xl mb-3 mt-6 font-bold">Legal Assistance before Migración Colombia</div>
        <div class="font-light mb-3 text-lg">Get expert bilingual assistance to make your life easier before Migración Colombia.</div>
          <div class="w-full h-auto flex justify-center items-center mb-12">
            <div class="flex flex-wrap flex-col w-auto max-w-4xl mr-auto">
                    <a href="#" class="w-auto py-2 flex justify-center">
                        <div class="block py-2 underline w-full text-lg hover:text-secondary">
                            Cédula de Extranjería
                        </div>
                    </a>
                    <a href="#" class="w-auto py-2 flex justify-center">
                        <div class="block py-2 underline w-full text-lg hover:text-secondary">
                            Tourism Permit Extension
                        </div>
                    </a>
                    <a href="#" class="w-auto py-2 flex justify-center">
                        <div class="block py-2 underline w-full text-lg hover:text-secondary">
                            Certificate of Migratory Movements
                        </div>
                    </a>
                    <a href="#" class="w-auto py-2 flex justify-center">
                        <div class="block py-2 underline w-full text-lg hover:text-secondary">
                            Salvoconducto
                        </div>
                    </a>
                
            </div>
        </div>
        <div class="text-sm font-bold text-white bg-secondary w-auto py-1.5 mt-6 px-6 rounded inline mb-3">
            Business & Real Estate
        </div>   

        <div class="text-3xl mb-3 mt-6 font-bold">Business incorporation and Management</div>
        <div class="font-light mb-3 text-lg">Delegate the boring parts of your business so you can focus on the fun ones.</div>
          <div class="w-full h-auto flex justify-center items-center ">
            <div class="flex flex-wrap flex-col w-auto max-w-4xl mr-auto">
                    <a href="#" class="w-auto py-2 flex justify-center">
                        <div class="block py-2 underline w-full text-lg hover:text-secondary">
                            Articles of Incorporation
                        </div>
                    </a>
                    <a href="#" class="w-auto py-2 flex justify-center">
                        <div class="block py-2 underline w-full text-lg hover:text-secondary">
                            Investment Agreements
                        </div>
                    </a>
                    <a href="#" class="w-auto py-2 flex justify-center">
                        <div class="block py-2 underline w-full text-lg hover:text-secondary">
                            Contract Drafting and Reviewing
                        </div>
                    </a>
                    <a href="#" class="w-auto py-2 flex justify-center">
                        <div class="block py-2 underline w-full text-lg hover:text-secondary">
                            Compliance and Disputes
                        </div>
                    </a>
                
            </div>
        </div>
        <div class="text-3xl mb-3 mt-6 font-bold">Real Estate Agreements</div>
        <div class="font-light mb-3 text-lg">Get a deep understanding on the local regulations in your Real Estate transactions.</div>
          <div class="w-full h-auto flex justify-center items-center ">
            <div class="flex flex-wrap flex-col w-auto max-w-4xl mr-auto">
                    <a href="#" class="w-auto py-2 flex justify-center">
                        <div class="block py-2 underline w-full text-lg hover:text-secondary">
                            Lease Agreements
                        </div>
                    </a>
                    <a href="#" class="w-auto py-2 flex justify-center">
                        <div class="block py-2 underline w-full text-lg hover:text-secondary">
                            Purchase Agreements
                        </div>
                    </a>                                    
            </div>
        </div>
    
</section>
