---
import ContactTabs from "../common/ContactTabs.astro"
---

<section class="bg-white h-screen flex flex-row justify-center items-center max-w-screen-lg mx-auto">
    
          <div class="">
            <div class="text-5xl font-bold text-primary mb-12">WE ORGANIZE <br/>YOUR LEGAL STUFF<br/> IN COLOMBIA</div>
            <div class="mb-5 text-xl">
              From tiny inquiries to investment project consultations, Capital M is there for you.
            </div>
            <ul>
              <li class="mb-3">✅ Visa assistance services</li>
              <li class="mb-3">✅ Immigration Law consultation</li>
              <li class="mb-3">✅ Procedures before Migración Colombia</li>
            </ul>
            
          </div>
        
            <div class="">

              <ContactTabs/>
            </div>
        
           
        
    </div>
</section>