---

---

<section class="bg-slate-100">
    <div class="py-8 px-4 mx-auto max-w-screen-lg sm:py-16 lg:px-0">  
        <h2 class="text-3xl font-bold text-primary mb-4">Do you want to discuss your case?</h2>
        <p class="font-light text-xl text-primary mb-4">Book a free 30 min video call with one of our attorneys</p>
        <a href="https://calendly.com/danielluque/45-min-meeting" target="_blank" class="bg-secondary text-white font-bold text-sm py-2 w-full px-8 rounded shadow shadow-lg hover:bg-primary">Book now</a>
    </div>
</section>