---
import { Image } from 'astro:assets';

const baseUrl = import.meta.env.MODE === 'development'
  ? 'http://localhost:4321/api/google/reviews' // Use your local dev server URL
  : 'https://capitaleme.com/api/google/reviews';

const response = await fetch(baseUrl);
const rawData = await response.json();
const isReviewArray = Array.isArray(rawData) && rawData.every(item => typeof item === 'object' && 'rating' in item);
const data = isReviewArray ? rawData : [];
// const data = await response.json();


---
<section class="bg-white">
    <div class="py-8 px-4 sm:py-16 md:px-0 mx-auto max-w-screen-xl">
        <div class="text-3xl font-bold text-primary mb-3">
            Our Experience
        </div>
        <!-- Experieces -->
        <div id="experiences" class="grid grid-cols-1 md:grid-cols-2">
            {data.map((r) => (
            <div id="experience" class="flex p-5">
                <div class="w-64 flex flex-col items-center p-3 mx-auto">
                    <Image src={r.profile_photo_url}  class='rounded-full w-16 h-16' alt="Profile pic" width={64} height={64}/>
                    <div id="star-rating">{'⭐️'.repeat(r.rating)}</div>
                    <div id="date-posted" class="text-xs text-center">{r.relative_time_description}</div>
                </div>
                <div id="review-text" class="flex flex-col justify-center mx-3 text-gray-500">
                    <div id="reviewer-name" class="font-bold text-primary">{r.author_name}</div>
                    <p>{r.text}</p>
                </div>
            </div>  
            ))}                     
        </div>        
        
    </div>
</section>