---

---
<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-lg sm:py-16 lg:px-6">

        <div class="text-3xl font-bold text-primary mb-3">
            Our Experience
        </div>    
        

        <!-- Experieces -->
        <div id="experiences" class="grid grid-cols-2">
            <div id="experience" class="flex p-5">
                <div class="w-64 flex flex-col items-center p-3 mx-auto">
                    <div id="thumbnail" class="bg-primary rounded-full w-16 h-16"></div>
                    <div id="star-rating">x x x x x</div>
                    <div id="date-posted" class="text-xs text-center">2 months ago</div>
                </div>
                <div id="review-text" class="flex flex-col justify-center mx-3 text-gray-500">
                    <div id="reviewer-name" class="font-bold text-primary">Myah Pacheco</div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sequi cumque ipsum laborum! Quae harum a provident repellat aut, non praesentium aliquid saepe accusantium consequuntur cum, debitis ea, neque at?
                </div>
            </div>            
            <div id="experience" class="flex p-5">
                <div class="w-64 flex flex-col items-center p-3 mx-auto">
                    <div id="thumbnail" class="bg-primary rounded-full w-16 h-16"></div>
                    <div id="star-rating">x x x x x</div>
                    <div id="date-posted" class="text-xs text-center">2 months ago</div>
                </div>
                <div id="review-text" class="flex flex-col justify-center mx-3 text-gray-500">
                    <div id="reviewer-name" class="font-bold text-primary">Myah Pacheco</div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sequi cumque ipsum laborum! Quae harum a provident repellat aut, non praesentium aliquid saepe accusantium consequuntur cum, debitis ea, neque at?
                </div>
            </div>            
            <div id="experience" class="flex p-5">
                <div class="w-64 flex flex-col items-center p-3 mx-auto">
                    <div id="thumbnail" class="bg-primary rounded-full w-16 h-16"></div>
                    <div id="star-rating">x x x x x</div>
                    <div id="date-posted" class="text-xs text-center">2 months ago</div>
                </div>
                <div id="review-text" class="flex flex-col justify-center mx-3 text-gray-500">
                    <div id="reviewer-name" class="font-bold text-primary">Myah Pacheco</div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sequi cumque ipsum laborum! Quae harum a provident repellat aut, non praesentium aliquid saepe accusantium consequuntur cum, debitis ea, neque at?
                </div>
            </div>            
            <div id="experience" class="flex p-5">
                <div class="w-64 flex flex-col items-center p-3 mx-auto">
                    <div id="thumbnail" class="bg-primary rounded-full w-16 h-16"></div>
                    <div id="star-rating">x x x x x</div>
                    <div id="date-posted" class="text-xs text-center">2 months ago</div>
                </div>
                <div id="review-text" class="flex flex-col justify-center mx-3 text-gray-500">
                    <div id="reviewer-name" class="font-bold text-primary">Myah Pacheco</div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sequi cumque ipsum laborum! Quae harum a provident repellat aut, non praesentium aliquid saepe accusantium consequuntur cum, debitis ea, neque at?
                </div>
            </div>            
            <div id="experience" class="flex p-5">
                <div class="w-64 flex flex-col items-center p-3 mx-auto">
                    <div id="thumbnail" class="bg-primary rounded-full w-16 h-16"></div>
                    <div id="star-rating">x x x x x</div>
                    <div id="date-posted" class="text-xs text-center">2 months ago</div>
                </div>
                <div id="review-text" class="flex flex-col justify-center mx-3 text-gray-500">
                    <div id="reviewer-name" class="font-bold text-primary">Myah Pacheco</div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sequi cumque ipsum laborum! Quae harum a provident repellat aut, non praesentium aliquid saepe accusantium consequuntur cum, debitis ea, neque at?
                </div>
            </div>            
            <div id="experience" class="flex p-5">
                <div class="w-64 flex flex-col items-center p-3 mx-auto">
                    <div id="thumbnail" class="bg-primary rounded-full w-16 h-16"></div>
                    <div id="star-rating">x x x x x</div>
                    <div id="date-posted" class="text-xs text-center">2 months ago</div>
                </div>
                <div id="review-text" class="flex flex-col justify-center mx-3 text-gray-500">
                    <div id="reviewer-name" class="font-bold text-primary">Myah Pacheco</div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sequi cumque ipsum laborum! Quae harum a provident repellat aut, non praesentium aliquid saepe accusantium consequuntur cum, debitis ea, neque at?
                </div>
            </div>            
        </div>
        
        
    </div>
</section>