---

---
<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-lg sm:py-16 lg:px-6">

        <div class="text-3xl font-bold text-primary mb-3">
            
            A MODERN  LAW FIRM
        </div>
        
        <!-- paragraph -->
        Capital M is quite modern. Is not like those old Law firms. 
        We don’t believe in suits and fancy dresses - although we use them when the occasion requires it -. 
        What we do believe firmly is in the rule of Law. 
        And understanding how the Colombian Law works in every of its dimmensions will accomplish one of the main purposes of the Law: To control the political powers to avoid tyranny.
        We invest all our of our efforts in understanding and applying the Law, but most importantly, understanding how can this benefit our clients and their interests.
    </div>
</section>