---
// Aquí vamos a hacer un componente de países, lo que podemos hacer es comparar países o elegir para comprobar sus datos. 
// Por ejemplo, si está eximido de visa de corta estancia o no, y además cuales tratados internacionales ha firmado con Colombia 
// y quizás algunas noticias relevantes entre esos dos países. 
// Esto podría ser como un resources de news en el futuro, pero necesitaría bastante contenido.

---
<div>
    
</div>