---

---
<footer class="bg-primary">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:flex-col md:justify-between">
          <div class="mb-12 md:mb-6">
              <a href="/" class="flex items-center">
                  <img src="../src/assets/logo/white-horizontal.svg" class="h-8 me-3" alt="Capital M Logo" />                  
              </a>
          </div>
          <div class="grid grid-cols-1 gap-8 sm:gap-6 sm:grid-cols-4">
              <div>
                  <h2 class="mb-6 text-lg font-light text-white">We organize your legal stuff in Colombia</h2>                  
              </div>
              <div>                  
                  <ul class="text-white font-light">
                      <li class="mb-3">
                          <a href="https://www.youtube.com/@capitalemelaw" target="_blank" class="hover:underline ">YouTube</a>
                        </li>                      
                        <li class="mb-3">
                            <a href="https://www.tiktok.com/@capitalm.law" target="_blank" class="hover:underline ">TikTok</a>
                        </li>                      
                        <li class="mb-3">
                            <a href="https://www.facebook.com/CAPITALMPI" target="_blank" class="hover:underline ">Facebook</a>
                        </li>                      
                        <li class="mb-3">
                            <a href="https://www.instagram.com/capitalm.law/" target="_blank" class="hover:underline ">Instagram</a>
                        </li>                      
                      
                  </ul>
              </div>
              <div>                  
                  <ul class="text-white font-light">
                      <li class="mb-3">
                          <a href="https://calendly.com/capitaleme/1h?back=1&month=2024-02" target="_blank" class="hover:underline">Book an Appointment</a>
                      </li>
                      <li class="mb-3">
                          <a href="#" class="hover:underline">Privacy Policy</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                      </li>
                  </ul>
              </div>
              <div>                  
                  <ul class="text-white font-light">
                      <li class="mb-3">
                          <a href="https://maps.app.goo.gl/Kwn9q9ata7LUX9Hw7" target="_blank" class="hover:underline">Carrera 72 #39A - 22. Medellín, Colombia</a>
                      </li>
                      <li class="mb-3">
                          <a href="mailto:info@capitaleme.com" target="_blank" class="hover:underline">info@capitaleme.com</a>
                      </li>
                      <li>
                          <a href="https://wa.link/a1p9zt" target="_blank" class="hover:underline">+57 3146022411</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 sm:mx-auto lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-center">
          <span class="text-sm text-white sm:text-center">© {new Date().getFullYear()} <a href="/" class="hover:underline">Capital M</a>. All Rights Reserved.
          </span>
      </div>
    </div>
</footer>
