---
const faviconURL = "../../src/assets/logo/color-horizontal.svg"

import { getRelativeLocaleUrl, getAbsoluteLocaleUrl,getRelativeLocaleUrlList, getAbsoluteLocaleUrlList  } from 'astro:i18n';


const lang = Astro.currentLocale
// const { pathname } = Astro.url;
const { pathname } = Astro.url;

const isSpanish = pathname.startsWith('/es');

// Función para construir la URL en inglés
function getEnglishURL(path :string) {
  return path.startsWith('/') ? path.substring(3) : path;
}

// Función para construir la URL en español
function getSpanishURL(path :string) {
  return path.startsWith('/es') ? path : `/es${path}`;
}

const engURL = getEnglishURL(pathname);
const espURL = getSpanishURL(pathname);


---

<nav class="bg-white border-gray-200 fixed w-full z-50 top-0 dark:border-gray-600 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src={faviconURL} class="h-8" alt="Capital M Logo" />
        </a>
      
        <div id="mega-menu" class="items-center justify-between hidden w-full md:flex md:w-auto order-3 md:order-1">
            <ul class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-6 rtl:space-x-reverse">            
                <!-- <li>
                    <button id="mega-menu-dropdown-button" data-dropdown-toggle="mega-menu-full-dropdown" class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                        {lang == "en" ? "Services" : "Servicios"}
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg>
                    </button>
                    <div id="mega-menu-full-dropdown" class="hidden mt-1 bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600 mx-auto w-full">
                        <div class="grid w-full px-4 py-5 mx-auto text-gray-900 dark:text-white sm:grid-cols-2 md:grid-cols-3 md:px-6">
                            <ul aria-labelledby="mega-menu-full-dropdown-button">
                                <li>
                                    <a href="/immigration" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
                                        <div class="font-semibold">Immigration Law</div>
                                        <span class="text-sm text-gray-500 dark:text-gray-400">We assist you in getting your Colombian visa, permits, nationality and anything cross-border</span>                                        
                                    </a>
                                </li>                              
                            </ul>
                            <ul>
                                <li>
                                    <a href="/real-estate" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
                                        <div class="font-semibold">Real Estate Law</div>
                                        <span class="text-sm text-gray-500 dark:text-gray-400">We advice individuals in solving their purchase, investment, rentals, sales and devolpment needs.</span>
                                    </a>
                                </li>                               
                            </ul>
                            <ul class="hidden md:block">
                                <li>
                                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
                                        <div class="font-semibold">General Colombian Law</div>
                                        <span class="text-sm text-gray-500 dark:text-gray-400">Whether hiring and firing an employee, incorporating a business or solving a dispute, we are here to assist you</span>
                                    </a>
                                </li>                        
                            </ul>
                        </div>
                    </div>

                </li> -->
                <li>
                    <a href={lang == "en" ? "/about" : "/es/nosotros"} class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">{lang == "en" ? "About" : "Nosotros"}</a>
                </li>
                <li>
                    <a href={lang == "en" ? "/services" : "/es/services"} class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700"> {lang == "en" ? "Visas & Immigration" : "Visas y migracion"}</a>
                </li>
                <li>
                    <a href={lang == "en" ? "/resources" : "/es/recursos"} class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">{lang == "en" ? "Resources" : "Recursos"}</a>
                </li>
                <li>
                    <a href={lang == "en" ? "/blog" : "/es/blog"} class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">{lang == "en" ? "Blog" : "Blog"}</a>
                </li>
                <li>
                    <a href={lang == "en" ? "/contact" : "/es/contacto"} class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">{lang == "en" ? "Contact" : "Contacto"}</a>
                </li>
            </ul>
        </div>
        
        <div class="flex items-center order-2 md:order-2 space-x-0 md:space-x-0 rtl:space-x-reverse">            
            <button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">              
              {lang == "es" ? "Español" : "English"} 
            </button>
            <!-- Dropdown -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700" id="language-dropdown-menu">
              <ul class="py-2 font-medium" role="none">
                <li>
                  <a href={engURL} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                    <div class="inline-flex items-center">             
                      English
                    </div>
                  </a>
                </li>
                <li>
                  <a href={espURL} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                    <div class="inline-flex items-center">                    
                      Español
                    </div>
                  </a>
                </li>                
              </ul>
            </div>
            <!-- Signin -->
            <div class="flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <a href="/signin" class="hidden text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Login</a>
                <a href="/register" class="hidden text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign up</a>
                <button data-collapse-toggle="mega-menu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</nav>
