---
const { heading } = Astro.props;

---

<li class="text-primary">
  <a href={'#' + heading.slug} class="toc-link">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="list-none">
        {heading.subheadings.map((subheading: any) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
<style>
  /* Style for the active TOC link */
    .toc-link-active {
      color: #16345F; /* Change as needed */
      padding-left: 0px; /* Optional: for better visibility */
    }

    /* Simple animation to highlight the change */
    @keyframes highlightActive {
      from {color: transparent;}
      to {color: #16345F;}
    }

    .toc-link-active {
      animation: highlightActive 0.2s ease-in-out forwards; /* Apply animation to the active link */
    }
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
  // Función para eliminar todas las clases activas
  const removeAllActive = function(): void {
    document.querySelectorAll('.toc-link').forEach((link: Element) => {
      link.classList.remove('toc-link-active');
    });
  };

  // Función para encontrar y resaltar la sección activa
  const highlightActiveTOCLink = function(): void {
    let scrollPosition: number = window.scrollY;
    let closestHeadingAbove: HTMLElement | null = null;

    document.querySelectorAll<HTMLElement>('h2, h3, h4').forEach((heading: HTMLElement) => {
      console.log(closestHeadingAbove);
      if (heading.offsetTop <= scrollPosition + window.innerHeight * 0.1) {
        closestHeadingAbove = heading; // Este encabezado es el último que se desplazó hacia arriba
      }
    });

    if (closestHeadingAbove) {
      removeAllActive();
      const tocLink = document.querySelector<HTMLAnchorElement>(`a[href="#${(closestHeadingAbove as HTMLElement).id}"]`);
      if (tocLink) {
        tocLink.classList.add('toc-link-active');
      }
    }
  };

  // Escuchar eventos de desplazamiento
  window.addEventListener('scroll', highlightActiveTOCLink);
});


</script>