---
const { studyFees, issuanceFees, apostille, translation, title  } = Astro.props.frontmatter || Astro.props 
---
<div class="">
    <div class="font-bold text-xl mt-4 text-secondary">Government Fees</div>
    <div class="my-4 border-b flex">
        <div class="w-3/4">
            <div class="font-bold">Visa Study</div>
            <div class="text-sm">Government fee you pay once your visa is submitted.</div>
        </div>
        <div class="w-1/4 flex items-center">
            ${studyFees} USD
        </div>
    </div>
    <div class="my-4 border-b flex">
        <div class="w-3/4">
            <div class="font-bold">Visa issuance fee</div>
            <div class="text-sm">Government fee you pay once your visa is approved.</div>
        </div>
        <div class="w-1/4 flex items-center">
            ${issuanceFees} USD
        </div>
    </div>
    <div class={`my-4 border-b ${title == 'V - Airport transit' ? 'hidden' : 'flex' } `}>
        <div class="w-3/4">
            <div class="font-bold">Cedula de Extranjería - Foreign ID Card</div>
            <div class="text-sm">Fee charged by Migración Colombia to issue your Card.</div>
        </div>
        <div class="w-1/4 flex items-center">
            $267,000 COP
        </div>
    </div>
    
    {
        apostille || translation ? <div class="font-bold text-2xl mt-8 text-secondary">Associated Costs</div> : <div></div>
    
    } 
        

        <div class={`my-4 border-b ${apostille ? 'flex': 'hidden'}` }>
            <div class="w-3/4">
                <div class="font-bold">Apostille</div>
                <div class="text-sm">Official Seal issued by the country where the document was issued to make it valid in Colombia</div>
            </div>
            <div class="w-1/4 flex items-center flex-col justify-left">
                <div class="justify-left mr-auto">$120 - 290 USD*</div>
                <div class="text-sm">*The price provided is an estimate and not final. Actual costs may vary</div>
            </div>
        </div>
        <div class={`my-4 border-b ${translation ? 'flex': 'hidden'}` }>
            <div class="w-3/4">
                <div class="font-bold">Certified Translation</div>
                <div class="text-sm">Translation of documents by a Cerfied Colombian translator</div>
            </div>
            <div class="w-1/4 flex items-center flex-col justify-left">
                <div class="mr-auto">$300,000 COP*</div>
                <div class="text-sm">*The price provided is an estimate and not final. Actual costs may vary</div>
            </div>
        </div>
    

    
</div>