---
import VisaFilterWidget from "./VisaFilterWidget.jsx"
import { getCollection } from 'astro:content';
const allVisas = await getCollection('visas', ({ id }) => {
  return id.startsWith('en/');
});

const someVisas = allVisas.slice(0,4)
console.log(someVisas)
---
<section class="h-auto mt-16 max-w-screen-lg mx-auto">
    <div class="text-3xl mb-3 mt-6 pt-12 font-bold text-primary">Asesoría en visas Colombianas</div>
    <p class="font-light mb-3 text-lg text-primary">
      Ayudamos a diseñar estrategias de reubicación a la medida para aquellos individuos y familias que deseen hacer de Colombia su hogar. Entendemos que cada historia es única, por lo que personalizamos nuestras soluciones considerando detalladamente las circunstancias personales, situación laboral, expectativas, nivel de español y el grado de familiaridad con Colombia de nuestros clientes.
    </p>    
    <div class="text-3xl mb-3 mt-6 font-bold text-primary">A cuál categoría de visa debería aplicar?</div>
    <p class="font-light mb-3 text-lg text-primary">
        There are over 45 visa categories. Each corresponds to an authorized activity that the foreigner will be performing in the country. Each category has its own requirements, benefits and restrictions. Here are some tips to find your ideal visa category 
    </p>    
    <VisaFilterWidget client:load/>

</section>