---
import "astro-feelback/styles/feelback.css";
import FeelbackMessage from "astro-feelback/components/FeelbackMessage.astro";
---
<div class="container">
  <FeelbackMessage contentSetId="f10b77e8-9105-446a-884f-fa8493022ebf"/>
</div>