---
import Layout from "../../layouts/Layout.astro";

const pageTitle = "Nosotros";

---
<Layout title={pageTitle}>
    <div class="mt-16 max-w-screen-lg mx-auto">
        <p>Somos abogados locales. Entendemos la cultura, el idioma y las prácticas comunes del sistema legal colombiano.</p>
        <p>Hemos practicado la ley en diferentes áreas, obteniendo valiosos conocimientos para proteger sus intereses.</p>
        <p>Creemos que entender las regulaciones colombianas y operar bajo el sistema legal colombiano no debería ser difícil.</p>
        <p>Nuestra filosofía es simplificar las complejidades del mundo legal y priorizar la comunicación abierta, la confianza y el aspecto humano de todas nuestras interacciones.</p>    
    </div>
    
</Layout>
