---
import Layout from '../../layouts/Layout.astro';
import SectionOne from '../../components/es/contact/SectionOne.astro';
import SectionTwo from '../../components/es/contact/SectionTwo.astro';
import ContactTabs from '../../components/es/common/ContactForm.astro';

---
<Layout title="Contact">

    <div class="mt-16">
        <SectionOne/>
        <SectionTwo/>

    </div>
</Layout>