---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import HeroEs from '../../components/HeroEs.astro';
import Carousel from '../../components/Home/Carousel.astro';
import CTA from '../../components/Home/Cta.astro';
import Accordion from '../../components/Home/Accordion.astro';
---

<Layout title="Capital M.">
	<main>
		<HeroEs/>
		<CTA/>	
		<Carousel/>
		<Accordion/>
		
	</main>
</Layout>
