---
export const prerender = true;
import Layout from '../../layouts/Layout.astro';
import Section1 from '../../components/es/home/Section_1.astro';
import Section2 from '../../components/es/home/Section_2.astro';
---

<Layout title="Capital M - Abogados">
	<main>
		<Section1/>		
		<Section2/>		
	</main>
</Layout>
