---
import Navbar from '../components/Navbar.astro';
import Sidebar from '../components/Sidebar.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import GoogleTag from '../components/GoogleTag.astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"
interface Props {
	title: string;	
	frontmatter: any;
}

const { title } = Astro.props;
const { frontmatter } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/isotipo-color.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<GoogleTag/>
		<SpeedInsights/>
	</head>
	<body>
		<WhatsAppButton/>
		<Navbar />
		<Sidebar>			
			<h1>{title ? title : frontmatter.title}</h1>
			<div class="max-w-screen-md mx-auto">
			<slot />
		</div>
		</Sidebar>		

		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
		
	</body>
</html>

