---

---

<section class=" h-auto  pb-16 pt-8 px-16">
    <div class="max-w-screen-lg mx-auto">
        <div class="text-3xl font-bold text-primary mb-12 text-center">
            Our Team
        </div>   
        <div class="flex pt-6">
            <div class="w-1/3 font-light text-primary text-center">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="Daniel Luque Avatar">
                Daniel Luque Restrepo
            </div>
            <div class="w-1/3 font-light text-primary text-center">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="Daniel Luque Avatar">
                Maria Fernanda Duarte C.                
            </div>
            <div class="w-1/3 font-light text-primary text-center">                
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/neil-sims.png" alt="Daniel Luque Avatar">
                Daniela Diazgranados Ojeda
            </div>
        </div>

    </div>

</section>



