---

import Layout from "../../layouts/Layout.astro";
import SectionOne from "../../components/en/visas/Section_1.astro";
import { getCollection, getEntry } from 'astro:content';
const allVisas = await getCollection('visas', ({ id }) => {
  return id.startsWith('en/');
});
---

<Layout title="Todos los recursos">
    <div class="mt-16">
                <SectionOne/>

                <div class="py-8 px-4 mx-auto max-w-screen-lg sm:py-16 lg:px-6 ">  
                  {allVisas.map(p => (
                      <h2><a href={`/visas/${p.slug.slice(3)}`}>{p.data.title}</a></h2>
                      <div>short_description: {p.data.short_description}</div>
                    ))}
                </div>
    </div>
</Layout>