---
import { getCollection } from 'astro:content';
import PostsLayout from '../../../layouts/PostsLayout.astro';
import BlogPostHeaderAlt from '../../../components/en/blog/BlogPostHeaderAlt';
export const prerender = true;

export async function getStaticPaths() {
  const englishBlogEntries = await getCollection('posts', ({ id }) => {
    return id.startsWith('en/');
  });

  return englishBlogEntries.map(entry => ({
      params: { 
          slug: entry.slug.slice(3) 
      }, 
      props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const { pathname } = Astro.url

---
<PostsLayout title={entry.data.title} headings={headings} frontmatter={entry.data}>
  <BlogPostHeaderAlt entry={entry} client:load />
  <div class="container mx-auto px-4 prose prose-lg max-w-4xl mb-20">
    <Content />
  </div>
</PostsLayout>