---
import { getCollection, getEntry } from 'astro:content';
import Layout from "../../../layouts/Layout.astro";
import SectionOne from "../../../components/en/resources/Section_1.astro";
import BlogPostsList from "../../../components/es/blog/BlogPostsList";
import BlogHero from "../../../components/en/blog/BlogHero";

const featArticle = await getEntry('posts','en/counting-your-days')

const allPosts = await getCollection('posts', ({ id }) => {
  return id.startsWith('en/');
});
const allResources = await getCollection('resources', ({ id }) => {
  return id.startsWith('en/');
});
---

<Layout title="Blog">
  <BlogHero post={allPosts[1]} client:load/>
  <div class="max-w-screen-xl mx-auto">
    <h1 class="text-3xl font-bold text-primary mt-8">All Posts</h1>
    <p class="text-lg text-slate-700">Here you can find all the posts we have published so far.</p>
    <p class="text-lg text-slate-700">Click on the image to read the full post.</p>
    <p class="text-lg text-slate-700">Enjoy!</p>
    
    
    <BlogPostsList posts={allPosts} client:load/>

  </div>
</Layout>