---

---
<section>
    <div class="py-8 mx-auto max-w-screen-lg sm:py-16 ">  
        <div class="text-3xl font-bold text-primary mb-3">
            Featured Article
        </div> 
        
    </div>
</section>